*{
	scroll-behavior: smooth;
}
body{
	font-family: 'Lato', sans-serif;
}
.navbar{
	padding: 0;
}
.navbar-brand{
	padding: 0;
	margin: 0;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 0;
	margin: 0;
}
.first_page{
	background: #f6f9f9;
}
.nav-item {
	font-size: 24px;
	margin-left: 60px;
	padding: 40px 0;
}
.bnr{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;

}
.bnr_overlay{
	padding-top: 234px;
	padding-bottom: 90px;
}
.bnr_contain h3{
	color:#fff;
	font-size: 120px;
	font-weight: 700;
}
.box{
	width: 600px;
	border-top: 2px solid #15a4fa;
	margin: 0 auto;
}
.box p{
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding-top: 40px;
}
.btn_1 a{
	border: 1px solid #15a4fa;
	font-size: 18px;
	color: #fff;
	padding: 22px 34px;
  	margin-top: 69px;
}
.fa{
	color: #fff;
	font-size: 25px;
	margin-top: 179px;
}
#simple {
	text-align: center;
	background-color: #f6f9f9;
}
.simple_contain h3{
	padding-top: 80px;
	font-size: 40px;
	color: #2d3950;
}
.simple_contain p{
	font-size: 20px;
	padding-top: 38px;
	padding-bottom: 109px;7
}
.simple_contain2{
	padding: 66px 0;
}
.simple_contain2 h3{
	font-size: 22px;
	padding-top: 32px;
	padding-bottom: 22px;
}
.simple_contain2 p{
	font-size: 15px;
}
.showcase{
		background-color: #f6f9f9;
		padding-bottom: 115px;
}
.show{
	padding: 80px 0;
}
.show h3{
	font-size: 41px;
}
.show p{
	font-size: 15px;
}
.col-md-4{
	padding: 10px 10px;

}
.stay{
	background-image: url(../images/bg2.jpg);
	text-align: center;
	padding-bottom: 110px;
}
.stay_text h3{
	font-size: 41px;
	color: #fff;
	padding-top: 74px;
}
.stay_text p{
	font-size: 15px;
	color: #939495;
	padding-top: 21px;
	padding-bottom: 54px;
}
.stay_text .form-group input{
	font-size: 15px;
	padding: 26px 0;
	padding-left: 18px;
	background-color: inherit;
	color: #939495;
}
.stay_text .form-group textarea{
	padding-top: 26px;
	padding-left: 18px;
	padding-bottom: 122px;
	background-color: inherit;
	color: #939495;
}
.stay_text .form-group label{
	color: #fff;
}
.stay_text .check{
	margin-top: 20px;
}
.btn_2 a{
	border: 1px solid #15a4fa;
	font-size: 18px;
	color: #fff;
	padding: 17px 52px;
}
textarea{
	resize: none;
}
.footer{
	height: 90px;
}
.last .copy{
	padding-top: 39px;
}
.last .icon{
	padding-top: 20px;
}
